@import '_normalize.scss';
@import '_navigation.scss';
@import '_portfolio-item.scss';
@import '_modal.scss';
@import '_resume.scss';


*{
    box-sizing:border-box;
}

html{
    font:10px "open-sans", Helvetica, Arial, sans-serif;
}

body {
    background: url("/images/background_tile.png") repeat scroll 0 0 #252525;
    color: #999;
}

a,a:visited {
    color: $color-primary;
    text-decoration: none
}

a:hover {
    color: $color-primary-hover;
    text-decoration: none
}

.button,
.button:visited {
    background-color: $color-primary;
    display: block;
    padding: 10px 20px;
    text-align: center;
    color: #fff;
    font-weight: 400;
}

.button:hover {
    background-color: $color-primary-hover;
    color: #fff
}

.button.disabled, .button.disable:hover {
    background: #bbb;
}

.content {
    padding: 0 20px;
    max-width:120rem;
    margin-left:auto;
    margin-right:auto;
}

.page_section {
    overflow: hidden;
    clear: both;
    border-top: 1px solid $color-border-primary;
}

header {
    padding: 15px 0 25px;
    border-top: none
}

.logo {
    float: left
}

.logo h1 {
    font: 8rem 'bebas-neue', sans-serif;
    color: #ddd;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    margin:0;
    transition: font-size 0.5s;
}

.logo h1 span {
    color: $color-primary;
}

.logo h2 {
    color: #999;
    font-size: 1.6rem;
    letter-spacing: 3px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.7);
    margin:0;
    font-weight:300;
    transition: all 0.5s;
}

@media only screen and (max-width: 720px) {
    .logo{
        float:none;
    }
    .logo h1{
        font-size:5rem;
    }
    .logo h2{
        font-size:1.4rem;
    }
}


.tag_line {
    padding: 20px 0;
    text-align: center;
}

.tag_line h3 {
    color: #666;
    font-size: 2.6rem;
    font-weight:300;
    letter-spacing: 4px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    margin:0;
}

.tag_line h3 strong {
    color: #aaa;
    font-size: 3rem;
    font-weight: normal;
}

@media only screen and (max-width: 720px) {
    .tag_line{
        padding:10px;
    }
    .tag_line h3, .tag_line h3 strong{
        font-size:2rem;
    }
}
@media only screen and (min-width: 721px) and (max-width: 1023px) {
    .tag_line h3, .tag_line h3 strong{
        font-size:2.3rem;
    }
}

.sub_footer {
    padding: 20px 10px;
    font-size:1.2rem;
}

.sub_footer h3{
    font-size:1.8rem;
    font-weight:300;
}

.contact {
    float: left;
    width: 25%;
}

.contact ul{
    padding:0;
}

.contact li {
    padding: 5px 0;
    list-style-type:none;
}

.about {
    float: left;
    width: calc(75% - 41px);
    border-left: 1px solid $color-border-primary;
    margin: 0 0 0 20px;
    padding: 0 0 0 20px;
}

.about img {
    float: right;
    padding: 0 0 20px 20px
}

footer {
    border-top: 1px solid $color-border-primary;
    padding: 20px 0;
}

@media only screen and (max-width: 720px) {
    .contact, .about, .sub_footer{
        float:none;
        width:100%;
        padding:0;
    }
    .about{
        margin:0;
        padding:0;
        border-left:none;
        border-top: 1px solid $color-border-primary;
    }
}
