* {
  box-sizing: border-box;
}

html {
  font: 10px "open-sans", Helvetica, Arial, sans-serif;
}

body {}

a,
a:visited {
  color: #1F80B8;
  text-decoration: none;
}

a:hover {
  color: #269de2;
  text-decoration: none;
}


.page_section {
  overflow: hidden;
  clear: both;
}

.content{
  margin:0 auto;
  max-width:1024px;
}

.section_title{
  width:20%;
  float:left;
}

.section_content{
  float:left;
  width:80%;
}

@media only screen and (max-width: 720px) {
  .contact,
  .about,
  .sub_footer {
    float: none;
    width: 100%;
    padding: 0;
  }
  .about {
    margin: 0;
    padding: 0;
    border-left: none;
    border-top: 1px solid #434343;
  }
}