{
  "env": {
      "browser": true,
      "node": true
  },
  "extends": [
    "standard"
  ],
  "parser": "babel-eslint",
  "rules": {
    "no-console": ["error", { "allow": ["warn", "error", "info"] }],
    "prefer-arrow-callback": "error"
  }
}