.header {
    /* background-color: #252525; */
    background-color:#1f2327;
    padding: 0;
    border-top: none;
    position:fixed;
    width:100%;
}
  
@media only screen and (max-width: 720px) {
    .header{
        text-align: center;
    }
}
  