
.main_navigation ul {
  text-transform: uppercase;
  padding:0;
  margin:0;
  text-align:center;
  clear:both;
}
  
.main_navigation li {
  display: inline-block;
  list-style-type: none;
}

.main_navigation li a,
.main_navigation li a:visited {
  padding: 20px 12px;
  color: #f0f0f0;
  text-decoration: none;
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1;
  transition:background-color 0.1s ease-in;
}

.main_navigation li a:hover, 
.main_navigation li a:active{
  background-color: #269de2;
}

.main_navigation li a:focus{
  outline:1px solid #fff;
  outline-offset: -1px;
  background-color: #269de2;
}

.nav_toggle{
  display:none;
  background:none;
  border:0;
  color:#f0f0f0;
  float:right;
  padding:12px;
  cursor:pointer;
}

.nav_toggle:hover, .nav_toggle:focus{
  color:#269de2;
}

.nav_toggle:focus{
  outline:1px solid #fff;
  outline-offset: -1px;
}

@media only screen and (max-width: 768px) {
  .nav_toggle{
    display:block
  }
  .main_navigation ul{
    display:none;
  }

  .main_navigation .nav_open{
    display:block;
  }

  .main_navigation li{
    display:block;
  }
}  