.personal_container {
  /* background-color:#2b2b2b; */
  background-color:#2f353a;
  padding: 72px 10px 20px 10px;
  font-size: 1.4rem;
  font-weight:300;
  border-top: 1px solid #434343;  
}
  
.personal_content {
  /* color: #999; */
  color: #cbd2d6;
}

.personal_container h3 {
  font-size: 1.8rem;
  font-weight: 300;
}

.portrait{
  height: 100px;
  width:100px;
  background: url(../images/portrait.jpg) -49px -15px;
  border-radius: 100%;
  margin:30px auto;
}

.about_me{
  font-size:1.4rem;
  text-align: center;
}

.contact_details ul {
  padding: 0;
}

.contact_details li {
  padding: 5px 0;
  list-style-type: none;
}
  
@media only screen and (min-width: 720px) {
  .portrait{
    height:265px;
    width:200px;
    background-position: 0 0;
    border-radius: 0;
    float:right;
    margin:0 0 0 30px;
  }
  .about_me{
    text-align: left;
  }
}    

