.portfolio_container {
  background-color:#f1f1f1;
}
  
.portfolio_item {
  background-color: #FFF;
  color: #666;
  /* box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2); */
  position: relative;
  font-size: 1.2rem; 
  cursor:pointer;
}

.portfolio_item_wrap{
  width:33.33333333333333%;   
  padding: 0 10px;
  margin:10px 0;
  display:inline-block;
}
  
@media only screen and (max-width: 768px) {
  .portfolio_item_wrap{
    width:50%;
  }
}

@media only screen and (max-width: 450px) {
  .portfolio_item_wrap{
    width:100%;
  }
}
  
.portfolio_item img {
  width: 100%;
  transition:filter 0.08s linear;
  display:block;
}

.portfolio_item .item_overlay {
  background: rgba(51, 51, 51,0.8);
  color:#fff;
  padding: 20px;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  transition:opacity 0.1s ease-in-out;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  cursor:pointer;
}

.portfolio_item .item_overlay .expand_text{
  position: absolute;
  bottom:20px;
  margin:0;
}

.portfolio_item:hover .item_overlay{
  opacity:1;
}

.portfolio_item:hover img{
  filter:blur(6px);
}

.portfolio_modal_container{
  padding:0 !important;
  max-width:700px !important;
}

.portfolio_modal_container img{
  width:100%;
}

.portfolio_description_content{
  padding:2rem;
  font-size:1.3rem;
  color:#6e7881;
  font-weight:300;
}

.portfolio_description_content h3, .portfolio_description_content h4{
  margin: 0 0 1rem 0;
  color:#555;  
}

.portfolio_description_content h3{
  font-size: 2.2rem;
  font-weight: 600;
  letter-spacing: .05rem;
}

.portfolio_description_content h4{
  font-size:1.6rem;
  font-weight:300;
}
  
.portfolio_modal_container .button{
  width:100%;
  font-size:1.2rem;
}